<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Financial Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="backgroundImage">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark position-fixed w-100" style="z-index: 100;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><b>Financial<br>Tracker</b></a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a asp-controller="Home" asp-action="" class="nav-link active" aria-current="page">СЧЁТ</a>
					</li>
					<li class="nav-item">
                        <a asp-controller="Categories" asp-action="GetCategories" class="nav-link" aria-current="page">КАТЕГОРИИ</a>
					</li>
					<li class="nav-item">
						<a asp-controller="Statistic" asp-action="GetStatistic" class="nav-link" aria-current="page">СТАТИСТИКА</a>
					</li>
				</ul>
			</div>
			<div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="User" asp-action="Profile"><img src="img/user.svg"></a>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="Register"><img src="img/user.svg"></a>
                }
            </div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>
</body>
<div class="container-fluid col-xl-12 content">
    <main role="main">
        @RenderBody()
    </main>
</div>

<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Информация</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                @if (User.IsInRole("Admin"))
                {
                    <button type="button" class="btn btn-primary" id="saveBtn">Сохранить</button>   
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalWhButtons" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Информация</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
@*<script src="~/js/modal.js"></script>*@

@await RenderSectionAsync("pageScripts", required: false)
@*</body>*@
</html>