@using WebCourseWorkActual.Domain.Entity
@using WebCourseWorkActual.Domain.ViewModels.Account
@using WebCourseWorkActual.Service.Implementations
@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@model Check

@if (User.Identity.IsAuthenticated)
{
  @*<div class="card col-md-12">
  <div class="card-body">
    <h5 class="card-title text-center">Добро пожаловать на сайт Automarket</h5>
    <p class="card-text">
      На этом сайте вы сможете выбрать подходящую для вас модель автомобиля, посмотреть его характеристики, сравнить
      с другими моделями, а так же можете приобрести этот автомобиль
    </p>
    <p class="card-text"><small class="text-muted">АйтишныйДомосед</small></p>
  </div>
</div>*@
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <h1 class="text-center">Financial Tracker</h1>
        <div class="mb-3">
          <p class="card-text">Баланс: @Model.Баланс</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <h2 class="text-center">Expenses</h2>
        <ul class="list-group">
          <button class="btn btn-success">Add</button>
          <li class="list-group-item">Expense 1</li>
          <li class="list-group-item">Expense 2</li>
          <li class="list-group-item">Expense 3</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">Incomes</h2>
        <ul class="list-group">
          <li class="list-group-item">Income 1</li>
          <li class="list-group-item">Income 2</li>
          <li class="list-group-item">Income 3</li>
        </ul>
      </div>
    </div>
  </div>
}
else
{
  <div class="card">
    <div class="card-header">
      Вы не авторизовались
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Для просмотра контента вы должны авторизоваться</p>
      </blockquote>
    </div>
  </div>
}

@section pageScripts
{
    <script>
    
    $('#btnHideId').click(function(){
      $('#ulListId').hide(2000);
    });
    
    $('#btnShowId').click(function () {
      $('#ulListId').show(2000);
    });
  </script>
}